* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #262345;
}


/* html {
    font-size: 16px;
}

div {
    color: #555;
}

.home {
    color: #555;
} */


/* .active {
    color: red;
} */